/* styles.css */
/*.containerx {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: #defffa;
}*/
@font-face {
    font-family: Sitka;
    src: url(./sitka-font/sitka-small-599.ttf);
  }
  
.container {
    background-color: #f9f6ee;
}

h1 {
    margin-bottom: 200px;
    max-width: 500px;
    margin: 0 auto;
    font-size: 60px;
    text-align: center;
    color: #144061;
    font-family: Sitka, Arial, Helvetica, sans-serif;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #144061;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: Sitka, Arial, Helvetica, sans-serif;
}

button:hover {
    background-color: #0056b3;
}

#timerDisplay {
    font-family: Sitka, Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-bottom: 5px;
}
.image img {
    max-width: 100%;
}
.body-areas, .muscles, .image {
    width: 30%;
}

/*.indiv {
    border: #000 1px solid;
    margin: 16px;
    padding: 4px;
}*/

.btn{
    font-family: Sitka, Arial, Helvetica, sans-serif;
    color: #81ce21;
    margin-top: 10px;
    margin-bottom: 10px;

}

#header1 {
    font-family: Sitka, Arial, Helvetica, sans-serif;
    color: #144061;
}

#scoreDisplay {
    font-family: Sitka, Arial, Helvetica, sans-serif;
    color: #001621;
}
#progressBar {
    display: none;
    background-color: #73b51a;
}

.muscle-image {
    max-width: 100%; /* Adjust the maximum width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px;

}
.form-section {
    font-family: Sitka, Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#userAnswer {
    font-family: Sitka, Arial, Helvetica, sans-serif;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    flex: 1;
}
.col-9 {
    font-family: Sitka, Arial, Helvetica, sans-serif;
    padding-top: 20px;

}
.just-font {
    font-family: Sitka, Arial, Helvetica, sans-serif;
}


@media screen and (max-width: 767px) {
    .form-section {
        margin-left: 10px; /* Adjust the margin for smaller screens */
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .form-section {
        margin-left: 100px; /* Adjust the margin for medium-sized screens */
    }
}

@media screen and (min-width: 992px) {
    .form-section {
        margin-left: 400px; /* Adjust the margin for larger screens */
    }
    .muscle-image {
        max-width: 400px;
    }

}

